<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/artyom.window.min.js"></script>
  <script src="/javascripts/commands.js"></script>
  <title>Document</title>
</head>

<body>
  <h1>{{city}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet qui, sapiente accusantium porro laboriosam voluptate
    alias voluptas ex obcaecati laborum, atque soluta dicta, odio autem minus ab molestiae nisi. Sapiente quisquam animi
    atque amet! Neque aspernatur inventore minima rerum. Doloremque ratione ea eos eveniet consequuntur voluptate ipsum
    quos, doloribus accusantium, recusandae placeat vero iure esse sunt exercitationem voluptas ab obcaecati laudantium
    necessitatibus ducimus dolor voluptatibus officia suscipit. At, illum aliquid ipsam similique sequi aspernatur
    accusamus omnis laborum deleniti numquam officia, totam voluptatibus. Nulla aspernatur, aliquid magni dicta sint
    possimus consectetur esse beatae, nostrum, porro unde et obcaecati quam fuga amet.</p>


  <!-- DAY TEMPLATE -->
  <button class="accordion" style="text-align: center">HOTEL</button>
  <div class="panel">
    <h2>{{ordered.name}}</h2>
    <img style="height: 200px; margin-top: 20px"
      src={{ordered.image_url}}
      alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, voluptatibus alias? Debitis, est inventore
      fugit deleniti, ex, asperiores dolorem iure consectetur porro accusantium perspiciatis dolorum? Magni quasi sit
      soluta ratione exercitationem repellendus, modi distinctio eius, repellat doloribus, ut dolorum voluptate.</p>
    <ul>
      </li>
      <li>Rating: </li>
      <li>Address: </li>
      <li>E-Mail: </li>
      <li>Phone: </li>
    </ul>
  </div>
{{#each itinerary}}
  <div>
    <h1 style="text-align: center">DAY {{this.day}}</h1>
   <h2 style="text-align: center">RESTAURANTS</h2>
   {{#each this.restaurants}}
    
    <button class="accordion" style="text-align: center">{{this.name}}</button>
    <div class="panel">
      
      <img src={{this.image_url}} alt="">

      <h3>{{this.location.address1}} {{this.location.address2}} {{this.location.city}} {{this.location.zip_code}}</h3>
      <button><a href={{this.url}}>Check here the reviews</a> </button>
    </div>
    {{/each}}
  
  <h2 style="text-align: center">SIGHTS</h2>

  {{#each this.monuments}}
    <button class="accordion" style="text-align: center">{{this.name}}</button>
    <div class="panel">
      <img src={{this.image_url}} alt="">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto maiores veritatis ducimus dolor porro error
        modi corporis quae, beatae sit inventore quo neque incidunt nobis dignissimos excepturi, ullam, animi est.</p>
      <h3>{{this.location.address1}} {{this.location.address2}} {{this.location.city}} {{this.location.zip_code}}</h3>
      <button><a href={{this.url}}>Check here the reviews</a> </button>

    </div>
    
    {{/each}}
    <h2 style="text-align: center">Museums</h2>

    {{#each this.museums}}
    <button class="accordion" style="text-align: center">{{this.name}}</button>
    <div class="panel">
      <img src={{this.image_url}} alt="">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto maiores veritatis ducimus dolor porro error
        modi corporis quae, beatae sit inventore quo neque incidunt nobis dignissimos excepturi, ullam, animi est.</p>
      <button><a href={{this.url}}>Check here the reviews</a> </button>

    </div>
    {{/each}}
    {{/each}}

    <p id="recognised" style="display: none"></p>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          /* Toggle between adding and removing the "active" class,
          to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
    <script src="/javascripts/script_artyom.js"></script>
</body>

</html>