<!DOCTYPE html>
<html lang="en">
​

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/artyom.window.min.js"></script>
  <script src="/javascripts/commands.js"></script>
  <title>Plan</title>
</head>
​

<body>
  <h1 style="text-transform: uppercase; text-align:center">{{city}}</h1>
  <button class="accordion" style="text-align: center; margin-bottom:20px">DESCRIPTION</button>
  <div class="panel">
    <p class="description">{{extracts}}</p>
  </div>
  ​
  ​
  <!-- DAY TEMPLATE -->
  <button class="accordion" style="text-align: center; margin-bottom:20px">HOTEL</button>
  <div class="panel">
    <h2>{{ordered.name}}</h2>
    {{!-- <img style="height: 200px; margin-top: 20px" class="img-url" src={{ordered.image_url}} alt=""> --}}
    <div style="background: url({{ordered.image_url}});margin-top: 20px; background-repeat: no-repeat" class="img-url">
    </div>
    <ul>
      <p>Rating</p>
      <li>{{ordered.rating}} </li>
      <p>Address</p>
      <li>{{ordered.location.address1}} | {{ordered.location.address2}} | {{ordered.location.city}} |
        {{ordered.location.zip_code}} </li>
      <p>Phone</p>
      <li>{{ordered.phone}}</li>

      <button class="link-btn"><a href={{ordered.url}}>More Info</a></button>
    </ul>
  </div>

  {{!-- ITINERARY --}}
  {{#each itinerary}}
  {{!-- <div> --}}
  {{!-- <button class="accordion" style="text-align: center">DAY {{this.day}}</button>
  <div class="panel"> --}}
  <div style="background-color: black; width:100%">
    <h1 style="text-align: center; color:red">DAY {{this.day}}</h1>
  </div>
  {{!-- RESTAURANTS --}}
  <h2 style="text-align: center">RESTAURANTS</h2>
  {{#each this.restaurants}}

  <button class="accordion" style="text-align: center">{{this.name}}</button>
  <div class="panel">

    <div style="background: url({{this.image_url}}); background-repeat: no-repeat; background-size: cover;
  background-position: 40%; min-height: 200px;" class="img-url">
      {{!-- <img class="img-url" src={{this.image_url}} alt=""> --}}
    </div>

    <h3>{{this.location.address1}} | {{this.location.city}} | {{this.location.zip_code}}
    </h3>
    <button class="link-btn"><a href={{this.url}}>More info</a> </button>
  </div>
  {{!-- </div> --}}
  {{/each}}

  <h2 style="text-align: center">SIGHTS</h2>
  ​
  {{#each this.monuments}}
  {{#if this}}
  ​
  <button class="accordion" style="text-align: center">{{this.name}}</button>
  <div class="panel">
    {{!-- <img class="img-url" src={{this.image_url}} alt=""> --}}
    <div style="background: url({{this.image_url}}); background-repeat: no-repeat; background-size: cover;
  background-position: 40%; min-height: 200px;" class="img-url">
    </div>

    <h3>{{this.location.address1}} | {{this.location.city}} | {{this.location.zip_code}}
    </h3>
    <button class="link-btn"><a href={{this.url}}>More info</a> </button>
    ​
  </div>
  {{/if}}
  {{/each}}
  <h2 id="museums" style="text-align: center">MUSEUMS</h2>
  {{!-- ​MUSEUMS --}}
  {{#each this.museums}}
  {{#if this}}
  <button class="accordion" style="text-align: center">{{this.name}}</button>
  <div class="panel">
    {{!-- <img class="img-url" src={{this.image_url}} alt=""> --}}
    <div style="background: url({{this.image_url}}); background-repeat: no-repeat; background-size: cover;
  background-position: 40%; min-height: 200px;" class="img-url">
    </div>
    <h3>{{this.location.address1}} | {{this.location.city}} | {{this.location.zip_code}}
    </h3>
    <button class="link-btn"><a href={{this.url}}>More info</a> </button>
  </div>
  {{else}}
  <h1 id="ch">No more places available</h1>
  <script>
    document.getElementById("ch").remove();
  </script>
  {{/if}}
  {{/each}}
  {{/each}}
  ​
  </div>
  {{!--  --}}
  <button><a href="/userResult"></a></button>
  {{!-- SPEECH RECOGNITION PLACE HOLDER --}}
  <p id="recognised" style="display: none"></p>
  {{!--  --}}
  <button><a href="/userResult"></a></button>
  {{!-- ACCORDION --}}
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
  {{!-- ARTYOM SCRIPT --}}
  <script src="/javascripts/script_artyom.js"></script>
</body>
​

</html>